#navbar {
    display: inline-flex;
    justify-content: space-between;
    margin: 10px;
}

#navbar > ul > li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#hamburger-icon, #search-icon {
    display: none;
}

@media (max-width: 599px) {
    #hamburger-icon, #search-icon {
        display: block;
    }
}

@media (max-width: 1279px) {

}